Webservice235/WebContent/wsdl/MyBible_Class.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://myPackage" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://myPackage" xmlns:intf="http://myPackage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://myPackage" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="total_BibleBooks">
    <complexType>
     <sequence>
      <element name="Old_Testament_Books" type="xsd:int"/>
      <element name="New_Testament_Books" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="total_BibleBooksResponse">
    <complexType>
     <sequence>
      <element name="total_BibleBooksReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="total_BibleBooksRequest">

      <wsdl:part element="impl:total_BibleBooks" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="total_BibleBooksResponse">

      <wsdl:part element="impl:total_BibleBooksResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MyBible_Class">

      <wsdl:operation name="total_BibleBooks">

         <wsdl:input message="impl:total_BibleBooksRequest" name="total_BibleBooksRequest">

       </wsdl:input>

         <wsdl:output message="impl:total_BibleBooksResponse" name="total_BibleBooksResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MyBible_ClassSoapBinding" type="impl:MyBible_Class">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="total_BibleBooks">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="total_BibleBooksRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="total_BibleBooksResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MyBible_ClassService">

      <wsdl:port binding="impl:MyBible_ClassSoapBinding" name="MyBible_Class">

         <wsdlsoap:address location="http://localhost:8080/Webservice235/services/MyBible_Class"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
